doctype html 
html(lang="en")
    head
        title Order Information 
    body
        header
            h1 Order Information 
        section#content
            ul 
                each item in order
                    li=item
