/*  ================  BASIC STYLES  ================  */
:root {
    background-color: rgb(208, 231, 207);
    text-align: center;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive', 'arial';
}

header {
    background-color: rgb(90, 117, 88);
    color:peachpuff;
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
}

h1, h3 {
    margin: 0px;
    padding: 20px;
}

.tab-content {
    display: none;
}

.active {
    display: block;
}

button {
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive', 'arial';
    font-size: 1rem;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 5px 2px 5px rgb(37, 49, 12);
}

#update-prices, #place-order {
    margin-bottom: 10px;
}

.admin-reminder {
    background-color: rgb(218, 131, 100);
    border-radius: 4px;
    font-style: italic;
    width: 60%;
    margin: auto;
    padding: 20px;
}

#admin-package-options {
    list-style: none;
    padding: 10px;
}

/* ul {
    list-style: none;
} */

#customer-package-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#prices-tbd{
    font-style: italic;
}

.BASIC, .DETAILED, .ELABORATE {
    max-width: 550px;
    margin: 20px;
    padding: 12px;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s linear;
}

#cust-alert-div {
    border: rgb(67, 67, 92) solid 5px;
    border-radius: 5%;
    max-width: 50%;
    margin: auto;
}

#order-form {
    margin: 30px;
}

#imagePreview {
    border: 1px dotted rgb(39, 63, 52);
    width: 50%;
    min-height: 100px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(33, 18, 56);
}

#image-preview__image {
    display: none;
    width: 100%;
}

#img-preview-2, #img-preview-3 {
    display: block;
}
/* HTML TABLE STYLES */

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

td, th {
    text-align: center;
    padding: 8px;
    color: floralwhite;
  }  

tr:nth-child(odd) {
    background-color: rgb(39, 63, 52);
    font: 20px;
}

/* CONFIRMATION PAGE STYLES */
#order-confirmation {
    position: relative;
    margin: auto;
    background-color: rgb(39, 63, 52);
    color: floralwhite;
    padding: 8px;
    width: 80%;
    text-align: center;
 }




