/*  ================  BASIC STYLES  ================  */
:root {
    background-color: rgb(208, 231, 207);
    text-align: center;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive', 'arial';
}

header {
    background-color: rgb(90, 117, 88);
    color:peachpuff;
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
}

h1, h3 {
    margin: 0px;
    padding: 20px;
}

.tab-content {
    display: none;
}

.active {
    display: block;
}

button {
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
}

#update-prices, #place-order {
    margin-bottom: 10px;
}

.admin-reminder {
    background-color: rgb(218, 131, 100);
    border-radius: 4px;
    font-style: italic;
    width: 60%;
    margin: auto;
    padding: 20px;
}

ul {
    list-style: none;
}

#imagePreview {
    border: 1px dotted rgb(39, 63, 52);
    width: 50%;
    min-height: 100px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(33, 18, 56);
}

#image-preview__image {
    display: none;
    width: 100%;
}

#img-preview-2, #img-preview-3 {
    display: block;
}
/* HTML TABLE STYLES */

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

td, th {
    text-align: center;
    padding: 8px;
    color: floralwhite;
  }  

tr:nth-child(odd) {
    background-color: rgb(39, 63, 52);
    font: 20px;
}

/* CONFIRMATION PAGE STYLES */
#order-confirmation {
    position: relative;
    margin: auto;
    background-color: rgb(39, 63, 52);
    color: floralwhite;
    padding: 8px;
    width: 80%;
    text-align: center;
 }



