/*  ================  BASIC STYLES  ================  */
* {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive', 'arial';
}

:root {
    background-color: rgb(208, 231, 207);
    text-align: center;
    overflow: auto;
}

html, body {
    width:100%;
    height:100%;
    margin: auto; 
}

header {
    background-color: rgb(90, 117, 88);
    color:peachpuff;
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
    background-size: cover;
}

h1, h3 {
    margin: 0px;
    padding: 20px;
}

#tab-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: fit-content;
    padding: 10px;
}

.tab-content {
    display: none;
}

.active {
    display: block;
}

button {
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive', 'arial';
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 5px 2px 5px rgb(37, 49, 12);
}

#update-prices, #place-order {
    margin: 20px;
    width: fit-content;
}

.admin-reminder {
    background-color: rgb(218, 131, 100);
    border-radius: 4px;
    max-width: 85%;
    margin: auto auto 20px;
    padding: 20px;
}

#admin-package-options {
    list-style: none;
    padding: 10px;
}

#admin-package-options input,
#order-form input {
    padding: 10px;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}


#customer-package-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#prices-tbd{
    font-style: italic;
}

.BASIC, .DETAILED, .ELABORATE {
    max-width: 85%;
    margin: 20px;
    padding: 12px;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s linear;
}

.BASIC:hover, .DETAILED:hover, .ELABORATE:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 4px 6px 50px rgb(0 0 0 / 20%);
}

#cust-alert-div {
    border: rgb(67, 67, 92) solid 5px;
    border-radius: 5%;
    min-width: 90%;
    max-width: 85%;
    margin: auto auto 20px;
    padding: 20px;
}

#order-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#order-form #place-order {
    align-self: center;
}

#imagePreview {
    border: 1px dotted rgb(39, 63, 52);
    min-width: 80%;
    min-height: 100px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(33, 18, 56);
}

#image-preview__image {
    display: none;
    width: 100%;
}

/* HTML TABLE STYLES */

#pending-orders {
    display: none;
}

/* CONFIRMATION PAGE STYLES */
#order-confirmation {
    margin: auto auto 20px;
    background-color: rgb(39, 63, 52);
    color: floralwhite;
    padding: 10px;
    width: 85%;
    text-align: center;
 }

/*  ================  MEDIIA QUERIES  ================  */

@media(min-width: 825px) {  
    #tab-btns {
        display: block;
        margin: auto;
        width: fit-content;
        padding: 10px;
    }

    #update-prices, #place-order {
        margin: 20px;
        min-width: fit-content;
    }

    #customer-package-options {
       justify-content: space-evenly;
       flex-grow: 1;
       flex-wrap: wrap;
    }

    .BASIC, .DETAILED, .ELABORATE {
        max-width: 30%;
        flex-shrink: 2;
    }

    #cust-alert-div {
        border: rgb(67, 67, 92) solid 5px;
        border-radius: 5%;
        min-width: 10%;
        max-width: 35%;
        margin: auto auto 20px;
        padding: 20px;
    }

    #imagePreview {
        border: 1px dotted rgb(39, 63, 52);
        max-width: 50%;
        min-height: 100px;
        margin: auto;
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: rgb(33, 18, 56);
    }
    
    #image-preview__image {
        display: none;
        width: 50%;
    }

    #order-confirmation {
        margin: auto auto 20px;
        background-color: rgb(39, 63, 52);
        color: floralwhite;
        padding: 10px;
        min-width: 25%;
        max-width: 60%;
        text-align: center;
     }

    #pending-orders {
        display: block;
        border-collapse: collapse;
        max-width: 85%;
        margin: auto;
        border-radius: 5px;
        border-top: 30px;
        border-bottom: 30px;
        overflow: auto;
    }

    td, th {
        text-align: center;
        padding: 8px;
        font-size: 1rem;
    }  

    tr:nth-child(odd) {
        background-color: rgb(39, 63, 52);
        color: floralwhite;
    }

    tr:nth-child(even) {
        background-color: floralwhite;
        color: rgb(39, 63, 52);
    }


}


